/* estilo.css */

/* Estilos para o rodapé */
.rodape {
  background-color: #2a0046;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Estilos para os elementos dentro do rodapé */
.rodape h1 {
  font-size: 24px;
}

.rodape .box {
  max-width: 800px;
  margin: 0 auto;
}

.rodape .ul {
  list-style: none;
  padding: 0;
}

.rodape .ul li {
  margin-bottom: 10px;
}

.rodape .link {
  color: #ffffff;
  text-decoration: none;
}

.rodape .link:hover {
  color: #686868;
}

.rodape .parag {
  text-align: justify;
}