.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }