.rodape {
  background-color: #CD5C5C;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: #800000 0px 14px 25px, #800000 0px -12px 10px;
}

.rodape h1 {
  font-size: 24px;
}

.rodape .box {
  max-width: 800px;
  margin: 0 auto;
}

.rodape .ul {
  list-style: none;
  padding: 0;
}

.rodape .ul li {
  margin-bottom: 10px;
}

.rodape .link {
  color: #ffffff;
  text-decoration: none;
}

.rodape .link:hover {
  color: #686868;
}

.rodape .parag {
  text-align: justify;
}

.img{

 border-radius: 25%;
  margin-left: 22px;
}