.main {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background: rgb(137, 108, 153);
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 400px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px outset #000;
    border-radius: 24px;
    box-shadow: #494949 1.95px 1.95px 2.6px;
}

